*{
    font-family: 'Poppins', sans-serif, 'Nunito';
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 20px;
  border: 3px solid #F6F6F6;
}

*::-webkit-resizer{
   display: none;
}

ul{
    padding: 0;
}

a{
    color: #ffffff;
}

a:hover{
    color: #ffffff;
}

body{
    height: 100%;
    background: #EFF4F7;
}

.masuk{
    background: #FE5722;
    color: #ffffff;
}

.masuk:hover{
    background: #00BCD5;
    color: #ffffff;
}

.navbar{
    color: #ffffff;
    background: #1C4F94;
    box-shadow: 6px 0px 8px rgba(0, 0, 0, 0.25);
    height: 57px;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.navbar-nav {
    padding: 0;
    list-style: none;
    display: table;
  }
.nav-item {
    display: table-cell;
    position: relative;
}
.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    background: var(--nav-link-line, #ffffff);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.nav-link:hover:after {
    width: 100%;
    left: 0;
  }
.nav-link:hover{
    color: #ffffff;
}

.row{
    width: 400px;
}

h2{
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    color: #1C4F94;
    text-align: center;
}

h4{
    font-size: 16px;
    line-height: 24px;
    color: #202020;
    text-align: center;
}

.input-div{
    display: grid;
    grid-template-columns: 7% 86% 7%;
    margin: 25px 0px 3px;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;
    width: 371px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.input-div div{
    position: relative;
	height: 45px;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div div h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 13px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	width: 0%;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus div h5{
	top: 5px;
	font-size: 10px;
}

.input-div.focus .i i{
	color: #00BCD5;
}

.input_div.focus .div i{
    color: #00BCD5;
}

.input-div div input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
    outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.row{
    width: 668px;
}

.daftar{
    padding: 10px;
    font-weight: 500;
    color: #ffffff;
    width: 167px;
    height: 48px;
      background: #FE5722;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.daftar:hover{
    color: #ffffff;
    background: #00BCD5;
}

h5{
    font-size: 16px;
}

.masuk-link{
    color: #FE5722;
    font-size: 16px;
    padding: 0px;
}

.masuk-link:hover{
    color: #00BCD5;
    text-decoration: underline;
}

.daftar:active{
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
    }

