*{
    font-family: 'Poppins', sans-serif;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 20px;
  border: 3px solid #F6F6F6;
}

*::-webkit-resizer{
   display: none;
}
p{
    color: white;
}

.content{
    background: rgba(60, 117, 160, 0.08);
    width: 100%;
}
.nav .nav-item{
    padding: 0px !important;
}

.content .nav .nav-item .date{
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
}

.content .nav .nav-item .nav-link i{
    font-size: 24px;
    color: black;
}
.content .nav .nav-item .btn{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500 ;
    background-color: #2F80ED;
}

.main-content{
    border-radius: 25px;
    font-weight: 500;
    width: 85%;
    height: auto;
    background-color: #FFFFFF;
}

.content .main-content .back i{
    font-weight: 600;
    font-size: 28px;;
    padding: 8px 18px;
    background-color: #ffffff;
}

.content .main-content .back i:hover{
    background-color: f6f6f6;
}

.main-content .editprofil{
    color: #000000;
    font-weight: 600;
    font-size: 28px;
}

.content .main-content .profile .img{
    position: relative;
    width: 140px;
    height: 140px;
    background: #C4C4C4;
    margin-left: 68px;
    padding: 96px 0px 0px 0px;
}

.semi-circle{
    width: 130px;
    height: 45px;
    border-none: none;
    background: #6D6D6D;
    clip-path: circle(69px at 50% -25px);
}

.cam{
    font-size: 20px;
    color: #ffffff;
}

.semi-circle:hover{
    background: #4D4D4D;
}

.content .main-content .profile p{
    color: black;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.content .main-content .profile .form-control{
    min-height: 38px;
	padding-left: 5px;
	box-shadow: none !important;
	border-width: 0 0 2px 0;
	border-radius: 0;
}

.content .main-content .profile .form-control:focus{
    color: #000000;
    border-color: #1d4f94;
}

.content .main-content .profile .email{
    font-size: 18px;
}

.content .main-content .profile .avatar-data p{
    font-size: 20px;
}

.content .main-content .profile .avatar-data .email{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.6);
}
.content .main-content .profile .data .label{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.save{
    width: 172px;
    height: 48px;
    background: #FE6534;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.save:hover{
    color: #FFFFFF;
    background: #1C4F94;
}
