*{
    font-family: 'Poppins', sans-serif;
}
p{
    color: white;
}
ul{
    padding: 0;
}
li{
    margin: 0;
    list-style: none;
}

.content{
    background: rgba(60, 117, 160, 0.08);
    width: 100%;
}
.nav .nav-item{
    padding: 0px !important;
}

.content .nav .nav-item .date{
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
}

.content .nav .nav-item .nav-link i{
    font-size: 24px;
    color: black;
}
.content .nav .nav-item .btn{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500 ;
    background-color: #2F80ED;
}
.card{
    border-radius: 15px;
}
.card-img-top{
    border-radius: 15px 15px 0px 0px;
}
.card-body{
    padding: 10px;
    background-color: #202020;
    border-radius: 0px 0px 15px 15px;
}
.card-body .btn{
    text-transform: uppercase;
}
.card-title{
    margin: 10px 0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
.card-img-top{
    max-height: 200px;
    max-width: 100%;
}
.owl-theme .custom-nav{
    position: relative;
    margin-top: -17.5%;
    padding-bottom: 17.5%;
  }
.owl-theme .custom-nav .owl-prev,.owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 50px;
    width: 50px;
    color: inherit;
    background: White;
    border-radius: 100%;
    z-index: 100;
  }
.owl-theme .custom-nav .owl-prev i,.owl-theme .custom-nav .owl-next i{
    font-size: 1.5rem;
    color: #cecece;
  }
.owl-theme .custom-nav .owl-prev{
    left: -20px;
  }
.owl-theme .custom-nav .owl-next {
    right: -20px;
  }
.btn{
    padding: 10px 28px;
}
.btn-primary{
    color: #ffffff ;
    background-color: #FE6534 ;
    border-radius: 5px;
    border: none;
}
.btn-secondary{
    color: #0B6E8E;
    background-color: #56CCF2;
    border-radius: 5px;
    border: none;
}
.btn-secondary:hover{
    text-decoration: none;
    
}
.btn-primary:hover{
    text-decoration: none;
    background-color: #fff;
    color: #FE6534;
}
.section-title{
    font-size: 2rem;
    font-weight: 600;
    line-height: 48px;
}
.section-para{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #202020;
}