*{
    font-family: 'Poppins', sans-serif;
}
p{
    color: white;
}
ul{
    padding: 0;
}
li{
    margin: 0;
    list-style: none;
}
.sidebar{
    padding: 0px 35px;
    background-color: #1d4f94 !important;
    font-weight: 500;
}

.sidebar .sidebar-brand{
    margin-top: -10px;
}
.sidebar .avatar{
    margin: 0 0 5px;
}
.sidebar .avatar .avatar-picture{
    /* background: linear-gradient(180deg, #FFC897 15.1%, #FFBF03 100%, #FFD458 100%);  */
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px auto 15px;
}
.sidebar .avatar .avatar-data p{
    text-align: center;
    margin-bottom: 0px;
}
.sidebar .avatar .avatar-data .email{
    font-size: 12px;
}
.sidebar .nav-item{
    font-size: 16px;
    margin : 3px 0px;
}
.sidebar .nav-item span{
    margin-left: 15px;
}

.sidebar .nav-item .nav-link, .sidebar .nav-item .nav-link i{
    color: rgba(32, 32, 32, 0.5); 
}

.content{
    background: rgba(60, 117, 160, 0.08);
    width: 100%;
}
.nav .nav-item{
    padding: 0px !important;
}

.content .nav .nav-item .date{
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
}

.content .nav .nav-item .nav-link i{
    font-size: 24px;
    color: black;
}
.content .nav .nav-item .btn{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500 ;
    background-color: #2F80ED;
}
.card{
    border-radius: 15px;
}
.card-img-top{
    border-radius: 15px 15px 0px 0px;
}
.card-body{
    padding: 10px;
    background-color: #202020;
    border-radius: 0px 0px 15px 15px;
}
.card-title{
    margin: 10px 0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
.card-img-top{
    max-height: 200px;
    max-width: 100%;
}
.btn{
    padding: 10px 28px;
}
.btn-primary{
    color: #ffffff ;
    background-color: #FE6534 ;
    border-radius: 5px;
    border: none;
}
.btn-secondary{
    color: #0B6E8E;
    background-color: #56CCF2;
    border-radius: 5px;
    border: none;
}
.btn-secondary:hover{
    text-decoration: none;
    
}
.btn-primary:hover{
    text-decoration: none;
    background-color: #fff;
    color: #FE6534;
}
.section-title{
    font-size: 2rem;
    font-weight: 600;
    line-height: 48px;
}
.section-para{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #202020;
}