*{
    font-family: 'Poppins', sans-serif, 'Nunito';
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 20px;
  border: 3px solid #F6F6F6;
}

*::-webkit-resizer{
   display: none;
}

ul{
    padding: 0;
}

body{
    background: #EFF4F7;
}

.navbar{
    background: #EFF4F7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: stick;
    height: 57px;
}

.content{
    margin: 80px 131px;
}

.dash{
    width: 770px;
    border: 1px dashed #000000;
}

h1{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}

p{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #1C4F94;
}

.number{
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #202020;
}

.pict{
    width: 144px;
    height: 76px;
}

.box-upload{
    width: 100%;
    height: 132px;
    background: #FCFFFF;
    border: 2px dashed #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.browse{
    font-size: 11px;
    padding: 3.5px;
    color: #FFFFFF;
    width: 84.89px;
    height: 24px;
    background: #FE5722;
    border-radius: 3px;
}

.browse:hover{
    background: #FFFFFF;
    color: #FE5722;
    border: 1px solid #FE5722;
}

.drop{
    font-size: 11px;
    line-height: 16px;
    color: #A6A6A6;
}

.text-1{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #202020;
}

.input-div{
    display: grid;
    grid-template-columns: 7% 86% 7%;
    margin: 0px 0px 20px 0px;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;
    width: 371px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.input-div div{
    position: relative;
	height: 45px;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div div h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 16px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	width: 0%;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus div h5{
	top: 5px;
	font-size: 10px;
}

.input-div.focus .i i{
	color: #00BCD5;
}

.input_div.focus .div i{
    color: #00BCD5;
}

.input-div div input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
    outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.selesai{
    font-weight: 500;
    font-size: 11px;
    color: #FCFFFF;
    filter: drop-shadow(0px 2px 4px rgba(254, 101, 52, 0.1));
    width: 162px;
    height: 45px;
    line-height: 24px;
    background: #FE6534;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.kembali{
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    color: #202020;
    width: 162px;
    height: 45px;
    background: #EFF4F7;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(254, 101, 52, 0.1));
}

.selesai:hover{
    background: #FFFFFF;
    color: #FE5722;
    border: 1px solid #FE5722;
}

.kembali:hover{
    background: #1C4F94;
    color: #FFFFFF;
}
