*{
    font-family: 'Poppins', sans-serif, 'Nunito';
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 20px;
  border: 3px solid #F6F6F6;
}

*::-webkit-resizer{
   display: none;
}
ul{
    padding: 0;
}

.mv{
    text-align: center;
    width: 42px;
    height: 42px;
    color: #ffffff;
    font-size: 24px;
    margin-top: 9px;
    padding: 9px;
    background: #1C4F94;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
}

.mv:active{
    color: #1C4F94;
    background: #ffffff;
    border: 2px solid #1C4F94;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.1));
    border-radius: 21px;
}

i:hover{
    cursor: pointer;
}

.navbar{
    background: #1C4F94;
    box-shadow: 6px 0px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: stick;
    height: 57px;
}

.cardbody{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #333333;
    padding: 20px;
    margin: none;
}

.title{
    font-size: 24px;
    font-weight: 500;
}

h4{
    font-weight: 500;
}

.soal{
    height: auto;
}

.c-time{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    height: 151px;
    border-radius: 20px;
    color: #333333;
    font-weight: 500;
    text-align: center;
    padding: calc(20px - 1%) 18px;
}


.c-answer{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    height: auto;
    background: #FFFFFF;
    /* Gray 5 */
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


p{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    /* Gray 1 */

    color: #333333;
}

.answer{
    width: 41px;
    height: 41px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 37px;
    background: #48C454;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.answer-content{
    line-height: 2em;
    font-weight: 500;
}

.time{
    width: calc(33% - 10px);
    height: 100%;
    background: #828282;
    border-radius: 20px;
}

.jam{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

.time span{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.nomor .row{
    padding: 15px 20px;
}

.nomor .row .col-1{
    margin: 10px 30px 10px 10px;
}

.nomor .number-benar:hover{
    color: #ffffff;
    background: #35F148;
}

.nomor .number-salah:hover{
    color: #ffffff;
    background: #F83200;
}

.number{
    text-align: center;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    /* Gray 5 */
    color: #000000;
    padding: 15px 0px 0px;
    font-weight: 500;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.number.focus{
    color: #1C4F94;
    background: #FFFFFF;
    /* 2 */
    border: 2px solid #1C4F94;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.number-benar{
    text-align: center;
    width: 56px;
    height: 56px;
    background: #48C454;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 15px 0px 0px;
    font-weight: 500;
}

.number-salah{
    text-align: center;
    width: 56px;
    height: 56px;
    background: #DD2C00;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 15px 0px 0px;
    font-weight: 500;
}

.kembali{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #1C4F94;
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    border: 2px solid #1C4F94;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.kembali:active{
    background: #1C4F94;
    color: #ffffff;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
}

.kembali:hover{
    background: #1C4F94;
    color: #ffffff;
}

.benar-c{
    color: #48C454;
    font-weight: 500;
}

.salah-c{
    color: #DD2C00;
    font-weight: 500;
}

.kosong-c{
    color: #828282;
    font-weight: 500;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion{
  border: none;
  background: none;
}
.accordion:focus{
  outline: none!important;
}
.opt a{
    padding: 5px;
    color: rgba(0,0,0,0.5);
}
.opt a:hover{
    color: rgba(0,0,0,1);
    text-decoration: none;
}

@media only screen and (max-width:575px){
    .accordion.title{
        font-size: 16px;
    }
    .opt a{
        font-size: 16px;
    }
    p{
        font-size: 15px;
    }
    h4{
        font-size: 16px;
    }
}