*{
    font-family: 'Poppins', sans-serif, 'Nunito';
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 20px;
  border: 3px solid #F6F6F6;
}

*::-webkit-resizer{
   display: none;
}

ul{
    padding: 0;
}

body{
    background: #EFF4F7;
}

.navbar{
    background: #EFF4F7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: stick;
    height: 57px;
}

.card{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.input-div{
    display: grid;
    grid-template-columns: 7% 86% 7%;
    margin: 25px 0px 3px;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;
    width: 371px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.input-div div{
    position: relative;
	height: 45px;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div div h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 16px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	width: 0%;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus div h5{
	top: 5px;
	font-size: 10px;
}

.input-div.focus .i i{
	color: #00BCD5;
}

.input_div.focus .div i{
    color: #00BCD5;
}

.input-div div input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
    outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

h1{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}

.p{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #202020;
}

.tombol{
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: 18px;
    color: #FCFFFF;
    padding: 14px;
    background: #FE6534;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(254, 101, 52, 0.1));
}

.tombol:hover{
    color: #FE6534;
    background: #FCFFFF;
}

.step-1{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    width: 38px;
    height: 38px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-left: 132px;
}

.color-1{
    color: #1C4F94;
    background: #FFFFFF;
}

.line{
    width: 144px;
    height: 0px;
    border: 2px solid #202020;
    background: #202020;
}

.step-2{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.color-2{
    color: #FFFFFF;
    background: #1C4F94;
}

.btn-primary{
    color: #ffffff ;
    background-color: #FE6534 ;
    border-radius: 5px;
    border: none;
}
.btn-secondary{
    color: #0B6E8E;
    background-color: #56CCF2;
    border-radius: 5px;
    border: none;
}
.btn-secondary:hover{
    text-decoration: none;

}
.btn-primary:hover{
    text-decoration: none;
    background-color: #fff;
    color: #FE6534;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  color: inherit;
  padding: 0;
  position: relative;
}
.panel-heading .panel-title > a {
  background-color: #87C540;
  border: medium none;
  color: #ffffff;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 28px;
  padding: 11px 65px 11px 40px;
  word-wrap: break-word;
}

.panel-heading .panel-title > a::after {
  bottom: 0;
  content: "▲";
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 48px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60px;
}
.panel-heading .panel-title > a.collapsed::after {
  content: "▼";
}
.panel-body{
  overflow: auto;
}
.ringkasan-title{
  font-weight: normal;
  font-size: 1rem;
  line-height: 27px;
  margin-left: 1.75rem;
  margin-bottom: 0px;
}
.ringkasan-para{
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 33px;
  margin: 0px;
}
.card-header .button-collapse{
  color: #202020 !important;
}
.card-header .button-collapse:hover{
  color: #202020 !important;
  text-decoration: none;
}
#bankTransfer .card-body{
  padding: 0;
  margin: 0;
}
.panel-bank{
  padding: .5rem 1rem;
}

.p-payment{
  font-size: 11px;
  color: #202020;
}
.card-header .custom-control-label::before, .card-header .custom-control-label::after{
  top:.75rem;
}

.custom-control-input:checked ~ .custom-control-label::before{
  border-color: #FE6534;
  background-color: #FE6534;
}

.ikon{
    color: #1C4F94;
    font-size: 20px;
    ,argin-right: 5px;
}

label{
    color: #202020;
}

.card .card-header{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 33px;
    background-color: #EFF4F7
}
.card .card-body{
    background-color: #fff;
    margin-bottom: -1px;
}
h5{
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #202020;
}

/*mobiledesign*/
@media only screen and (max-width: 576px) {
  [class*="col-"] {
    width: 100%;
  }
  .content{
    margin: 5px;
  }
  .step-1{
    font-size: 12px;
    line-height: 18px;
    width: 19px;
    height: 19px;
    margin: 0px;
  }

  .line{
        width: 80px;
        height: 0px;
        border: 2px solid #202020;
  }

  .step-2{
        font-size: 12px;
        line-height: 18px;
        width: 19px;
        height: 19px;
  }
  .judul{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #1C4F94;
    width: 100%;
    z-index: 1;
  }
  .balik{
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    z-index: 2;
    }
}

@media only screen and (min-width: 577px){
  .content{
    margin-right: 0px;
  }
  .col-sm-4{
    max-width: 45%;
  }
  .step-1{
    font-size: 12px;
    line-height: 18px;
    width: 19px;
    height: 19px;
    margin: 0px;
  }

  .line{
        width: 80px;
        height: 0px;
        border: 2px solid #202020;
  }

  .step-2{
        font-size: 12px;
        line-height: 18px;
        width: 19px;
        height: 19px;
  }
  .judul{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #1C4F94;
    width: 100%;
    z-index: 1;
  }
  .balik{
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    z-index: 2;
    }
}

@media only screen and (min-width: 768px){
    .content{
        margin-top: calc(15% - 75px);
        margin-left: calc(19.5% - 96.5px);
        margin-right: calc(6% - 30px;);
        margin-bottom: calc(15% - 75px);
    }

    .balik{
        font-size: 20px;
        line-height: 36px;
    }

    .balik:hover{
        color: #000000;
        cursor: pointer;
    }

    .t{
        font-size: 12px;
        line-height: 18px;
        color: #202020;
    }

    .judul{
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #1C4F94;
    }

    .step-1{
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        width: 38px;
        height: 38px;
        background: #1C4F94;
        border-radius: 50%;
    }

    .line{
        width: 144px;
        height: 0px;
        border: 2px solid #202020;
    }

    .step-2{
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #1C4F94;
        width: 38px;
        height: 38px;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }
    .card .col-10{
        flex: none;
        margin-left: 30px;
    }
}
