*{
    font-family: 'Poppins', sans-serif, 'Nunito';
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 20px;
  border: 3px solid #F6F6F6;
}

*::-webkit-resizer{
   display: none;
}

ul{
    padding: 0;
}

body{
    background: #EFF4F7;
}

.navbar{
    background: #EFF4F7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: stick;
    height: 57px;
}

.content{
    margin-top: 31px;
    margin-bottom: 100px;
}

.nota{
    width: 771px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.dash{
    width: 100%;
    border: 1px dashed #000000;
}

h1{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}

h2{
    font-size: 10px;
    line-height: 15px;
    color: rgba(32, 32, 32, 0.6);
}

h3{
    font-size: 18px;
    line-height: 27px;
    color: #1C4F94;
}

p{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #1C4F94;
}

.number{
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #202020;
}

.pict{
    width: 144px;
    height: 76px;
}

.step{
    font-size: 14px;
    line-height: 151.5%;
    color: #202020;
}

.slip{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #202020;
    width: 252px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
}

.slip:hover{
    color: #ffffff;
    background: #1C4F94;
}

.manual{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    margin: 0px 2.5% 0px 5%;
    width: 100%;
    height: auto;
    padding: 14px;
    background: #FE5722;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(254, 101, 52, 0.1));
}

.home{
    margin: 0px 5% 0px 2.5%;
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: 18px;
    padding: 14px;
    color: #202020;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(254, 101, 52, 0.1));
}

.manual:hover{
    color: #FE5722;
    background: #FFFFFF;
}

.home:hover{
    color: #FFFFFF;
    background: #1C4F94;
}

.modal-content {
  border-radius: 20px;
}

/* Add styles to the form container */
.form-container {
  width: auto;
  padding: 10px 0px;
  background-color: white;
}

.modal form h3{
    font-size: 24px;
    color: #FE6534;
    font-weight: bold;
}

.modal form h5{
    font-size: 22px;
    line-height: 33px;
    color: #202020;
}

.close{
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000;
}

.close:active{
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000000;
}

.modal-header{
    padding: 0px;
    margin: 20px;
    border: none;
}
.close{
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000;
}
.modal-body-title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 42px;
}
.modal-body-para{
    font-size: 16px;
    line-height: 30px;
}
.modal-footer{
    border: 0px;
}